.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 3px gray;
    z-index: 20;
    color: white;
    background-color: rgb(20, 20, 20);
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    padding: 0 16px;
}
.header__start{
    display: flex;
    align-items: center;
}
.header__title{
    font-size: 2em;
    margin-left: 4px;
}
.header__area{
    font-size: 2rem;
    margin-left: 4px;
    vertical-align: top;
    text-decoration-line: none;
}
.header__icon{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    margin: 0px 5px;
}
.header__icon__notice{
    position: absolute;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    margin-right: 100px;
}
.picture{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 400px;
    height: 300px;
    border: 10px solid gray;
    border-radius: 5%;
    background-color: transparent;
    margin: 170px 0px 0px 30px;
}
.picture img{
    width: 150px;
}
.picture__text{
    width: 400px;
    height: 30px;
    text-align: center;
    margin: 30px 0px 0px 30px;
}
.picture__text span{
    font-size: 2rem;
    color: lightgray;
}
input[type=text]{
    color: whitesmoke;
    font-size: 2rem;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: rgb(73, 73, 73);
    box-sizing: border-box;
    margin: 10px;
    border: solid 2px #1E90FF;
}
textarea{
    color: whitesmoke;
    font-size: 2rem;
    width: 100%;
    height: 300px;
    padding: 10px;
    background-color: rgb(73, 73, 73);
    margin: 10px;
    resize: both;
    box-sizing: border-box;
    border: solid 2px #1E90FF;
}
label {
    font-size: 2rem;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    padding: 0rem 2rem;
}
[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid #1E90FF;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    padding: 20px;
    margin-left: 60px;
}
input::placeholder{
	color: rgb(118, 118, 118);
	font-size: 3rem;
    text-align: center;
}
.main__contents{
    width: 100%;
    margin: 140px 0px 120px 0px;
    background-color: transparent;
}
.main__content__wrap{
    width: 100%;
    padding-bottom: 30px;
}
.main__content{
    padding: 30px 30px 20px 30px;
    word-break: break-all;
}
.main__content table{
    width: 100%;
    font-size: 2rem;
    color: white;
    vertical-align: middle;
}
.main__content tr{
    height: 150px;    
}
.main__content td{
    border-bottom: 1px dotted gray;
    vertical-align: middle;
    padding-right: 20px;
}
.main__content__date{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 30px;
    color: gray;
}
.icon__group{
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: right;
    vertical-align: middle;
    padding: 10px 30px 10px 10px;
}
.icon__image{
    width: 60px;
    height: 60px;
    margin-left: 30px;
}
.form__submit{
    position: fixed; 
    align-items: center;
    justify-content: center;
    border: 3px solid wheat;
    width: 100%;
    height: 120px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    color: white;
    font-size: 3rem;
    background-color: rgb(255, 51, 0);
    z-index: 999;
}

@media screen and (max-width: 1000px) {
    .picture{
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        width: 120px;
        height: 100px;
        border: 1px solid gray;
        border-radius: 5%;
        background-color: transparent;
        margin: 90px 0px 0px 10px;
    }
    .picture img{
        width: 80px;
    }
    .picture__text{
        width: 120px;
        height: 30px;
        text-align: center;
        margin: 10px 0px 0px 10px;
    }
    .picture__text span{
        font-size: 1rem;
        color: lightgray;
    }
    .header__wrapper{
        height: 60px;
        padding: 0 4px;
    }
    .header__area{
        font-size: 1.5rem;
    }
    .header__icon, .header__notice__alarm{
        width: 30px;
        height: 30px;    
    }
    .header__notice__group{
        margin-right: 5px;
    }
    .header__notice__alarm span{
        font-size: 1.5rem;
    }
    .main__image{
        max-width: 100%;
    }
    .icon__image{
        width: 30px;
        height: 30px;
    }   
    input[type=text], input[type=textarea], label, textarea{
        font-size: 1rem;
    }
    .main__contents{
        margin: 30px 0px 60px 0px;
    }
    .main__content{
        padding: 5px;
    }
    .main__content table{
        font-size: 1rem;
    }
    .main__content tr{
        height: 30px;    
    }
    .main__content td{
        padding-right: 5px;
    }
    .main__content td{
        border-bottom: 1px dotted gray;
        vertical-align: middle;
        padding-right: 10px;
    }
    .form__submit{       
        height: 60px;    
        font-size: 1.5rem;    
    }
    input[type=text]{
        font-size: 1rem;      
        height: 30px;
        padding: 5px;       
        margin: 10px;      
        border: solid 1px #1E90FF;
    }
    textarea{
        font-size: 1rem;       
        height: 60px;
        padding: 5px;       
        margin: 10px;       
        border: solid 1px #1E90FF;
    }
    input::placeholder{
        font-size: 1rem;
    }      
    [type="radio"] {
        appearance: none;
        border: max(2px, 0.1em) solid #1E90FF;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
        padding: 10px;
    }
}    