.header{
    position: fixed;
    /* display: flex; */
    width: 100%;   
    color: white;
    background-color: rgb(20, 20, 20);
    /* background-color: transparent; */
    z-index: 20;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 140px;
}

.header__start{
    display: flex;
    align-items: center;
}
.header__img{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header__back:hover{
    cursor: pointer;
}
.header__area{
    font-size: 2rem;
    margin-left: 16px;
    text-decoration-line: none;
    vertical-align: top;
}
.header__end {
    display: flex;
    align-items: center;
}
.header__end select{
    width: 300px;
    height: 60px;
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: 5px; 
    background-color: rgb(20, 20, 20);
    color: white;
}
.map{
    width: 100vw;
    height: 100vh;
}
.footer{
    display:flex;
    justify-content: space-between;
    position: fixed; 
    width: 100%;
    height: 150px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(28, 28, 28);
    box-shadow: 0 0 3px gray;
    z-index: 200;
    opacity: 0.7;
    font-size : 1.5rem;
    padding: 20px;
    color: wheat;
    align-items: center;
}
.footer__contents{
    margin-left: 30px;
}
.footer__call img{
    width: 40px;
    height: 40px;  
    margin-right: 10px;  
}
.infowindow{
    color: wheat;
    font-size: 0.8rem;
    width: 100%;
    height: 30px;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
@media screen and (max-width: 1000px) {
    .header__wrapper{
        height: 60px;
    }
    .header__img{
        width: 30px;
        height: 30px;
    }    
    .header__area{
        font-size: 1.5rem;
    }    
    .header__end select{
        width: 100px;
        height: 40px;
        font-size: 1rem;
    }
    .footer{
        height: 100px;
        font-size : 1rem;
    }
    .footer__contents{
        margin-left: 10px;
    }
}    