.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    box-shadow: 0 0 3px gray;
    background-color: rgb(20, 20, 20);
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    padding: 0 16px;
}
.header__back{
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header__back:hover{
    cursor: pointer;
}
.header__home{
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
}
.notice__content__wrap{
    display: flex;
    justify-content: b;
    flex-wrap: wrap;
    width: 100%;
    margin: 140px 0px 0px 0px;
}
.notice__content{
    display:inline-flex;
    width: 100%;
    box-shadow: 0 0 3px gray;
}
.notice__bullet{
    width: 30px;
    padding-top: 30px;
    text-align: center;
    margin-left: 30px;
    color: wheat;
}
.notice__wrap{
    width: 100%;
}
.notice{
    margin-left: 30px;
    padding: 30px 30px 20px 30px;
    word-break: break-all;
}
.notice__content span{
    font-size: 2rem;
    color: rgb(212, 212, 212);
}
.notice__date{
    margin-left: 30px;
    font-size: 1.2rem;
    padding: 30px;
    color: gray;
}