.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    color: white;
    background-color: transparent;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 16px;
}
.header__back{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header__back:hover{
    cursor: pointer;
}
.header__home{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
}
.header__share{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
}
.header__left{
    left : 0;
    height: 40px;
}
.header__right{
    right: 0;
    height: 40px;
}
.main__image__info{
    width: 100%;
}
.main__image__wrap{
    position: relative;
    padding-top: 70%;  
    overflow: hidden;
}
.main__image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.main__contents{
    width: 100%;
    margin-bottom: 150px;
    background-color: transparent;
}
.main__content__wrap{
    width: 100%;
    padding-bottom: 30px;
}
.main__content{
    padding: 30px 10px 20px 10px;
    word-break: break-all;
}
.main__content span{
    font-size: 1.5rem;
    color: white;
}
.main__content__date{
    font-size: 0.8rem;
    padding: 10px;
    color: gray;
}
.main__content__reaction{
    width: 100%;
    box-shadow: 0 0 3px gray;
    z-index: 20;
    color: white;
}
.icon__group{
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: right;
    vertical-align: middle;
    padding: 10px;
}
.icon__image{
    width: 60px;
    height: 60px;
    margin-left: 30px;
}

.footer{
    position: fixed; 
    width: 100%;
    height: 100px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(28, 28, 28);
}
.footer form{
    display: flex;
    align-items: center;
    width: 100%;
    border: 0;
    outline: none;
}
.footer__reply{
	position: flex;
    width: calc(100% - 100px);
    height: 60px;
    border: 1px solid;
	border-radius: 15px;
	background-color: rgb(175, 175, 175);
	display: inline-block;

}
.footer__reply::placeholder{
	color: rgb(118, 118, 118);
	font-size: 20px;
}
.footer__send{  
    width:60px;
    height:60px;
    margin-left: 20px;
}

@media screen and (max-width: 1000px) {
    .main__content span{
        font-size: 3rem;
    }
    .main__content__date{
        font-size:  1.6rem;
    }
    .main__image{
        max-width: 100%;
    }
    .icon__image{
        width: 80px;
        height: 80px;
    }
    .footer__reply{
        width: calc(100% - 120px);
    }    
    .footer__send{  
        width: 80px;
        height: 80px;
    }
}    